@media only screen and (max-width:750px){
.left-menu-section{
width: 0;
padding: 0;
margin: 0;
height: 0;
}
.menu{
position: fixed;
width: 100%;
top: 60px;
padding: 0;
display: block;
background-color: #fff;
display: none;
border-top: solid 1px rgba(0,0,0,0.1);
}
.menu ul{
margin: 0;
padding: 0;
}
.menu ul li{
margin: 0;
padding: 0;
}
.menu ul li a{
display: block;
text-align: center;
padding:10px;
border-radius: 0;
}
.menu ul li a:hover{
}
.common-right-section{
margin-left: 0px !important;
}
.mobile-top-bar{
position: fixed;
top: 0;
width: 100%;
background-color: #fff;
height: 60px;
z-index: 100 !important;
}
.mobile-top-bar a{
position: absolute;
right: 20px;
top: 10px;
color: rgba(0,0,0,0.7);
font-size: 30px;
}
.logo a h3 {
position: absolute;
top: 0;
font-size: 20px !important;
z-index: 100000 !important;
padding: 8px 20px;
margin-top: 5px!important; 	
}
.logo small{
display: none !important;
}
/*home*/
section.home{
height: 90vh;
}
.head-text{
padding:33vh 10%;
padding-bottom: 7vh;
}
.head-text h1{
opacity: 0.9;
padding: 0;
margin:20px 0;
color: #ffffff;
font-size: 30px;
}
/*footer*/
footer ul{
clear: both !important;
text-align: center !important;
float: none;
width: 100%;
padding-bottom: 0;
}
section .head{
margin-top: 70px;
}
section .head h1{
font-size: 30px;
}
}
@media screen and (min-width:751px) and (max-width: 968px) {
.mobile-top-bar{
display: none;
}
}
@media screen and (min-width:969px){
.mobile-top-bar{
display: none;
}
}